* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  background-color: #020126;
  /* background-repeat: no-repeat;
  font-family: sans-serif;
  /* color: #0f222d; */
  /* background-size: auto;*/ 
} 

#conteiner {
  text-align: center;
  
}

.so-botoes{
  width:600px;
  height: 20px;
  /* background-color:#020659 ; */
  background-color:#ffffff ;
  padding: 20px;
  margin: 100px auto;
 }


.botoes {
  display: inline-block;
  margin-bottom: 100px;
   
}



h1{
  color: #F2CB05;
  margin: 10px;
}

#funcionamento{
  color: #F2CB05;
  margin-bottom: 10px;
}

ol {
position: absolute;
width: 500px; 
min-height: 300px; 
margin-top: 10px;
}

#selected {
  background-color: #0487D9;
}

#unselected {
 background-color: white;
}

li {
  position: relative;
  left: 375px;
  bottom: 270px;
  border-bottom: 1px solid #F2CB05;
  list-style-type: none;
  color: #0D0D0D;
  padding: 5px;

 
}

.completed {
  text-decoration: line-through;
}

#lista-tarefas {
  margin: auto;
}

#texto-tarefa{
  text-align: center;
  padding: 7px;
  width: 250px;
  margin-left: 30px;
}

#criar-tarefa {
  padding: 8px;
  border-radius: 8px;
  background-color: #F2CB05;
  color: #0D0D0D;  
  border:none;
}

#apaga-tudo{
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white;  
  border:none;
  
}

#remover-finalizados{
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white;  
  border:none;
}

#salvar-tarefas{
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white; 
  border:none ;
}

#mover-cima{
  width: 30px;
  margin-bottom: 10px;
 
}

#mover-baixo{
  width: 30px;
  -webkit-transform: rotate(180deg);
}

#remover-selecionado{
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color:white;  
  border:none;
}

.mover{
  position: relative;
  left:280px;
  bottom: 200px;
}
