* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #020126;
  /* background-repeat: no-repeat;
  font-family: sans-serif;
  /* color: #0f222d; */
  /* background-size: auto;*/ 
} 

#conteiner {
  max-width: 700px;
  height: 500px;
  margin: auto;
 }

.so-botoes {
  max-width: 700px;
  position: relative; 
  left:50px;
  bottom: 120px;
  padding: 10px; 
  margin-top: 150px;
 }

.botoes {
  display: inline-block;
  margin-right: 10px;
}

h1 {
  color: #F2CB05;
  margin-left:200px;
  margin-top: 30px;
}

#funcionamento{
  color: #F2CB05;
  margin-left: 160px;
  margin-bottom: 20px;
}

ol {  
position: relative;
left: 10px;
width: 500px;
bottom: 265px;
min-height: 100px;

}

#selected {
  background-color: #0487D9;
}

#unselected {
 background-color: white;
}

#add {
  text-align: center;
}

li { 
  border-bottom: 1px solid #F2CB05;
  list-style-type: none;
  color: #0D0D0D;
  padding: 5px;   
}

.completed {
  text-decoration: line-through;
}

#lista-tarefas {
  margin: auto;
}

#texto-tarefa {
  text-align: center;
  padding: 7px;
  width: 250px;
  margin-left: 30px;
}

#criar-tarefa {
  padding: 8px;
  border-radius: 8px;
  background-color: #F2CB05;
  color: #0D0D0D;  
  border:none;
}

#apaga-tudo {
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white;  
  border:none;  
}

#remover-finalizados{
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white;  
  border:none;
}

#salvar-tarefas {
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color: white; 
  border:none ;
}

#mover-cima {
  width: 25px;
  margin-bottom: 5px;
 
}

#mover-baixo {
  width: 25px;
  -webkit-transform: rotate(180deg);
}

#remover-selecionado {
  padding: 8px;
  border-radius: 8px;
  background-color: #D98E04;
  color:white;  
  border:none;
}

.mover {
  position: relative;
  left: 630px;
  bottom: 70px;
}
